extends base

block extrahead
  meta(name="robots", content="noindex")

block content
  h1.title
    ='Curriculum Vitae'
  h2='Ravi Kotecha'
  h4='Software Developer'
  :markdown
    ##### What I can do for you?
    I'm available to work on software development projects,
    I can also help you build an excellent team that is focused on delivery.
    I usually work in `Python`, but
    sometimes you'll catch me working in `JavaScript` on `node`.

    For large web projects I like `Django`, for small ones I like `Flask`.

    ##### Values

    I believe software should be shipped often, that features should land early,
    that users' productivity is more important than large documents containing
    specifications. Talk is expensive, experiments are cheaper.

    Aside from helping you with the technical side of your business I'm commercially
    focused.

    I can help you with your fund-raising [pitches](http://dl.dropboxusercontent.com/u/811105/code-projects/TripMediPitchPublic.pdf),
    sales commission structuring, marketing effectiveness measurement and aligning your
    product with your business objectives.

  div.cv
    hr
    h3="Employment"
    div.row
      h4.row-item
        a(href='http://www.betaty.pe/')="Betatype, London"
      p.row-item="2015/07/12 - Ongoing"
    h5='Technical Advisory'
    :markdown
      Advising Betatype on how to move their product which is currently a
      desktop application to a cloud based subscription service.

      I prototyped the initial version of the service using Amazon Web Services, AWS Lambda, S3, Django, Celery, Docker and SQS.
      Then helped to hire a full time development team to continue project and now oversee progress on a monthly basis.

    h5='Technical Discovery'
    :markdown
      During April to May 2018 I've leading a technical discovery looking at how machine learning could be applied to additive manufacturing processes.

    div.row
      h4.row-item
        a(href='https://www.gov.uk/government/organisations/department-for-international-trade')="Department for International Trade, London"
      p.row-item="2017/05/08-2018/03/30"
    h5='Senior Developer'
    :markdown
      As part of a multidisciplinary team I worked on business intelligence dashboards allowing DIT HQ to manage regional teams and suppliers and see if they are meeting contractual targets.

      This involved:

      * API Design
      * Optimizing Django ORM access for large volumes of aggregated data
      * Migrating hosting from Heroku to Gov.uk PaaS (Pivotal Cloud Foundry)
      * Working with security auditors
      * Implementing SSO using SAML2, which was later extracted into a microservice used by many other teams
      * Maintance of legacy systems

      The success of the dashboards led to a desire from management for more of DITs data to be exposed to staff in visually engaging ways instead of Excel.

      In aid of this I worked with the data science team to:

      * build a Jupyter notebook hosting environment on `OpenShift`
      * make their data pipelines more reliable
      * create interactive Jupyter widgets
      * design a solution to allow communication between secure `OpenShift` cluster and client facing services hosted on Gov.UK PaaS


    div.row
      h4.row-item
        a(href='https://digital.nhs.uk/')="NHS Digital, London"
      p.row-item="2017/01/09-2017/04/30"
    h5='Lead Developer'
    :markdown
      Working in a small team where I was the only full time developer to convert a prototype for registering with a General Practice to a full service that can be used by the public that meets the [Digital Service Standard](https://www.gov.uk/service-manual/service-standard).
      The service was written entirely in server-side `JavaScript` and hosted using `Docker` on Azure. Extensive user research and fast iterations were at the core of this product.

    div.row
      h4.row-item
        a(href='http://www.mandsdigital.com/')="Marks and Spencer Digital, London"
      p.row-item="2015/07/09—2017/01/01"
    h5='Senior Developer'
    :markdown
      Working in a multidisciplinary team with a devops culture, with multiple releases
      a week and a strong belief in testing.

      Our focus was on making store and call-centre colleagues lives easier by
      making user centred applications. The core piece of this was an
      application called **Quick Order**. A Django website which is a
      re-implementation of `www.marksandspencer.com` built on top of APIs
      specially tailored to the needs of staff.

      This was pioneering work at M&S which up until this point was used to
      building on an inflexible off-the-shelf monolith enterprise system. Our
      work with **Quick Order** was the basis for the customer facing 2016
      [Christmas Food][cf] website.

      As lead developer on this team I was responsible for:

      * Mentoring the junior developers
      * Security and stability
      * Maintaining good test coverage
      * Availability and monitoring
      * Troubleshooting downstream issues
      * Working with the API team to expose the information we needed
      * Various devops duties e.g. SSL certificate management, DNS, PagerDuty
      * Migrating from AWS to CloudFoundry
      * Web development with `Python`/`Django`, `JavaScript` and Chrome Extensions
      * Native Android application development using `Java`

      [cf]: https://christmasfood.marksandspencer.com/


    div.row
      h4.row-item
        a(href='https://mojdigital.blog.gov.uk/')="Ministry of Justice Digital, London"
      p.row-item="2014/03/02—2015/07/08"
    h5='Senior Developer'
    :markdown
      `Python` and `JavaScript` developer on multiple digital transformation projects for the Ministry of Justice.

      As one of two backend developers in a highly skilled team where I:

      * Created a service to turn the **Civil Legal Advice** phone-line into an
        online, [self-service process][clap]
        * Designed and implemented an [API][cla_api] for various web based clients to interact with the service
        * Worked on the backend; much of which was about translating [legislation][lapso] into [code][cla_meanstest]
      * Built the [Victims' Information Service][vis] a [Django CMS][vis_code] for police forces to signpost victims to the services available in their area
      * Worked on a technical discovery to build a [proof of concept][jsum_deploy] application deployment solution
        based on `CoreOS`, `fleet` and `Docker`, hosted on Amazon Web Services

      The code is all Open Source and you can see exactly what I did by following the links above.

      [cla_api]: http://ministryofjustice.github.io/cla_docs/cla_backend/operator%20api.html
      [cla_meanstest]: https://github.com/ministryofjustice/cla_backend/blob/develop/cla_backend/libs/eligibility_calculator/calculator.py
      [lapso]: http://www.legislation.gov.uk/ukpga/2012/10/contents
      [vis]: https://www.victimsinformationservice.org.uk/
      [vis_code]: https://github.com/ministryofjustice/vis
      [clap]: https://www.gov.uk/check-if-civil-legal-advice-can-help-you
      [jsum_deploy]: https://github.com/ministryofjustice/jury-summons-deploy

    div.row
      h4.row-item="Browserstory, London"
      p.row-item="2013/09/01—2014/03/01"
    h5='Founder'
    :markdown
      Browserstory is a product that allows people to add a single `JavaScript`
      file to their site and be able to watch visitors visually interact in
      real time.

      Working with a designer I built this product and took it to customer
      validation stage. The product had a customer dashboard site built in
      `Clojure`, and the client library was transpiled from `ClojureScript`.

      We stopped work on this after running a few trials with alpha customers and
      found it didn't meet their user needs.

    div.row
      h4.row-item
        a(href='https://www.pitchup.com/about/')="Pitchup.com, London"
      p.row-item="2011/07/01—2013/09/01"
    h5='Lead Developer & Acting CTO'
    :markdown
      I joined Pitchup.com as a freelance developer on a short term contract
      but ended up staying for over two years. During this time I was ultimately
      in charge of all technology and managing the rest of the technical team.

      Detailed achievements:

      * Responsible for all technology at Pitchup.com
      * Created mobile app API and supervised external agency on building Android and iOS apps
      * Building a sales tracking process for Pitchup.com's sales department with real time synchronisation between Saleforce and Pitchup.com
      * Front-end web development
      * Developing new features for Pitchup.com's Django back-end
      * Built geo-spatial features using PostGIS
      * Scale Pitchup.com to handle an order of magnitude more users
      * Performance engineering to reduce web application response times by 75%
      * Created Supplier API allowing suppliers to send vacancies directly to Pitchup.com's back-end
      * Interviewed and hired new members of the technical team
      * Built a faceted camping search engine using Apache Solr with black box ranking algorithm optimised for revenue and probability of conversion
      * Maintaining and designing Pitchup.com's server architecture, a hybrid physical and cloud setup that can scale with Pitchup.com's seasonal traffic
      * Built a real-time inventory and expected revenue based CPC system to optimise Google AdWords bidding

    div.row
      h4.row-item
        a(href='https://startupbus.com/')="StartupBus, San Francisco"
      p.row-item='2012/03/01—2012/04/01'
    h5="Developer - Growth Platform (remote)"
    :markdown
      StartupBus is an annual hackathon that takes place on a three day
      bus ride.

      I conceived and implemented [invite based][invite] viral marketing system for
      driving people to participate in the competition.

      On the backend was
      an **insights dashboard** for processing applications that automatically gathered information about applicants
      from GitHub, LinkedIn and other public data sources.

      I also came up with the idea and built the successful [unlock your region][unlock] campaign
      which encouraged people to vote for a bus to depart from their city by creating
      social media _buzz_. The backend was monitoring Twitter and Facebook in real-time
      and displaying which cities were winning; in order to drive competitive behaviour from users.

      Both of these projects were built with `Ruby on Rails`.

      [invite]: https://news.ycombinator.com/item?id=3579891
      [unlock]: http://web.archive.org/web/20120622070942/http://startupbus.com/unlock



    div.row
      h4.row-item
        a(href='http://corporateandinvestment.standardbank.com/')="Standard Bank, London"
      p.row-item='2007/10/01—2011/06/31'
    h5="Front office Commodities Developer"
    :markdown
      Detailed achievements:

      * Lead Developer for in-house web-based precious metals trading portal:
        * This portal allowed clients to trade precious metals OTC contracts over the internet. These trades are automatically and immediately hedged by using futures contracts on COMEX
          * I designed the multi-tier backend server:
            * Exchange connectivity via FIX
            * Live price streaming component
            * Web frontend (ASP.NET and jQuery)
      * Developer on our options trading and risk management system:
          * Major database re-factoring to remove a third party framework, improving stability and performance
          * WinForms development and UI design, working closely with traders to create an interface that is both quick and logical to use
          * Integration of new products by wrapping Quant DLLs
          * Developing Excel add-in functionality using VSTO to expose pricing functions so that users can integrate them into their own spreadsheets
      * Replaced legacy Java API based trade feed from the Intercontinental Exchange with new FIX based feed.
          * Due to resource constraints I was given this project less than three weeks before ICE were due to turn off their Java API. I successfully designed, implemented and tested the FIX based replacement on time


    h5="Graduate Software Developer"
    :markdown
      *Rotational role where I gained experience in a number of different areas in the IT department.*

      Detailed achievements:
      * Designed a payments reconciliation engine and oversaw a contractor to carry out the implementation work
      * Production and overnight support for the bank’s main FX booking system
      * Developed a P&L reconciliation and reporting system for the Financial Risk Management department using Python, Sybase and the Pylons web framework to run on Solaris
    div.row
      h4.row-item
        a(href='http://corporateandinvestment.standardbank.com/')="3M UK PLC, Berkshire"
      p.row-item='2005—2006'
    h5="Technical Infrastructure Analyst"
    :markdown
      *Placement year role during sandwich year of my degree.*

      Highlights:
      * Technical project management on upgrade of mobile sync platform. Project managing a geographically dispersed team of fifteen people
      * LotusNotes application maintenance, administration and occasional development
      * Windows Cluster configuration and set-up
      * Developing real-time monitoring dashboards, a precursor to modern dashboards like Graphite

    div.row
      h4.row-item
        a(href='http://www.jessops.com/')="Jessops Group"
      p.row-item='2001-2005'
    h5='Various Part-Time and Summer Roles'
    :markdown
      Highlights:
      * Configuration, build and roll-out of over 250 Linux servers to the branches.
      * Chip and pin roll-out to entire branch network.
    //-
      h3="Technical Skills"
      h4="Programming Languages"
      :markdown
        || **Language** || **Level** || *Comment* ||
        || Python       || Advanced  || Strong commercial experience ||
        || JavaScript   || Advanced  || Strong commercial experience in both the browser and `node`. Lots of experience with Angular JS ||
        || C#           || Rusty  || Strong commercial experience ||
        || Clojure      || Intermediate  || Used mostly for personal projects ||
        || Ruby/Rails      || Intermediate  || Built the candidate application workflow for the [StartupBus](http://www.startupbus.com/) using Rails ||
        || Java           || Intermediate  || Main language used during my degree, recently used for Android development ||
      h4="Other Skills"
      :markdown
        || **Database** || PostgreSQL, MySQL, MS-SQL, CouchDB, Redis  ||
        || **Tools**    || Git, Vagrant, Chef, Amazon Web Services, TravisCI, nginx, memcached, Varnish, Docker, CoreOS, etcd ||

    h3='Education'
    p.row
      span.row-item
          em="Computer Science"
          , BSc (Hons), Aston University, Birmingham,
          strong="First Class"
      span.row-item="2002/09/21-2007/06/15"
    :markdown
      Four year course with a year in industry, my dissertation focused on information
      security and the identification and mitigation of buffer overflow exploits.

    h3="Training"
    p.row
      span.row-item="Project Management and PRINCE2 Fundamentals"
      span.row-item="2008"
    p.row
      span.row-item="Design Patterns"
      span.row-item="2008"
    p.row
      span.row-item="SIMARCH Investment Banking Simulation"
      span.row-item="2007"
    p.row
      span.row-item="Introduction to Microsoft SQL2005 / TSQL"
      span.row-item="2007"
    p.row
      span.row-item="Intermediate C#"
      span.row-item="2007"
    p.row
      span.row-item="Introduction to Financial Markets (Intensive Course)"
      span.row-item="2007"
    p.row
      span.row-item="Chartered Management Institute Certificate in Management Level 3"
      span.row-item="2005"
    h3="References"
    :markdown
      Available on [request](/contact)
    h3="Recruiters"
    :markdown
      If you're a recruitment agency, find out how to work with me
        [here](https://www.youtube.com/watch?v=dQw4w9WgXcQ)
